.btn-footer {
  max-width: 150px;
  margin: 150px 0px 0px 0px;
  justify-self: center;
}

.btn-header {
  max-width: 150px;
  margin: 0px 5px 15px 5px;
  justify-self: right;
}

.wrap-select {
  display: grid;
  justify-content: stretch;
}

.justify-right {
  justify-self: right;
}
