.viewport-container {
  float: left;
  position: relative;
  border: var(--viewport-border-thickness) solid var(--ui-border-color);
}

.viewport-container.active {
  border: var(--viewport-border-thickness) solid var(--active-color);
}

.empty-viewport {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: var(--background-color);
  color: var(--text-secondary-color);
  font-size: 14px;
  user-select: none;
}
